In [2]:
import requests
import json
import csv
import pandas as pd

# Atlanta ways

In [7]:
# openpass  turbo 
url = "http://overpass-api.de/api/interpreter"
query="""
<osm-script output="json" timeout="25">
  <!-- gather results -->
  <union>
    <!-- query part for: “highway=* and highway!=footway and highway!=pedestrian and "-highway"!=path” --> 
   
    <query type="way">
      <has-kv k="highway" regv="motorway|trunk|primary|secondary|tertiary|unclassified|
motorway_link|trunk_link|primary_link|tertiary_link|secondary_link"/>
      <!--has-kv k="maxspeed"/-->
      <bbox-query s="33.6940" w="-84.4587" n="33.8122" e="-84.3045"/>
    </query>
    
  </union>
  <!-- print results -->
  <print mode="body"/>
  <recurse type="down"/>
  <print mode="skeleton" order="quadtile"/>
</osm-script>
"""

In [5]:
response = requests.get(url, params={'data': query})
data = response.json()

In [6]:
with open('Atlanta_small.json', 'w') as way:
    json.dump(data, way)
way.close()

In [189]:
response2 = requests.get(url2, params={'data': query2})
data_network= response2.json()

In [64]:
# road type and speed limits
m2

              name  max_speed_mph  min_speed_mph
0         motorway             70             50
1    motorway_link             65             20
2          primary             55             25
3     primary_link             45             25
4        secondary             55             15
5   secondary_link             45             35
6         tertiary             45             25
7    tertiary_link             35             30
8            trunk             55             30
9       trunk_link             55             25
10    unclassified             40              5

In [190]:
len(data['elements'])

134850

In [191]:
len(data_network['elements'])

195590